body {
  font-family: sans-serif;
  position:fixed;
  

  
  image-rendering: -moz-crisp-edges;
  
  /*
  image-rendering: pixelated;
  image-rendering: crisp-edges;
*/
  
  width: auto;
  height: auto;

  

  padding: 0; 
  margin: 0;

  /*
  border: 1px solid grey;
  
*/
/*
  top:0%;
  left: 0%;
  
  transform: translate(-50% , -50% )  ;  
*/  

  /*
  width : 256px;
  height: 224px;
  border: 1px solid red;
  display: block;
  object-fit: contain;
  */
  
  background-color: #313236;

  /*
  width : 256px;
  height: 224px;
  position: relative;
  
  transform: scale(2,2);
  
  transform: translate(0%,200%);
  */
}


.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #303;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

